body {
  background: #5d69f6;
  margin-top: 10px;
}

.weather-app {
  margin: 0 auto;
  max-width: 375px;
  background: #fff;
  border-radius: 20px;
  padding: 5px 10px;
}
.weather-app-search {
  display: flex;
  justify-content: center;
  position: relative;
}

.input {
  width: 100%;
  border-radius: 15px;
  background: #fdfcfc;
  border: none;
  padding: 12px 20px;
  color: #2c2c2c;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  color: #c4c4c4;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-button {
  position: absolute;
  right: 6px;
  top: 15px;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

.weather-app-temperature {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  margin-top: 20px;
}
.weather-app-temperature-img {
  margin: 0 auto;
  max-width: 160px;
  height: 160px;
}
.weather-app-temperature-city {
  color: #2c2c2c;
  text-align: center;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}
.weather-app-temperature-temperature {
  color: #2c2c2c;
  text-align: center;
  font-family: Poppins;
  font-size: 54px;
  font-style: normal;
  font-weight: 500;
  line-height: 70px;
}


.weather-app-optional{
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin: 20px 5px ;
}

.weather-app-info {
  display: flex;
  gap: 3px;
  align-items: center;
}
.weather-app-info-icon {
  width: 30px;
  height: 30px;
}
.weather-app-info-text {
  display: flex;
  flex-direction: column;
}
.weather-app-info-text-value {
  color: #2c2c2c;
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
}
.weather-app-info-text-undertext {
  color: #535252;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}